---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="404 NotFound">
  <div style="text-align: center">
    <h1>404 Notfound</h1>
    <a href="/">Back To Catalog / 返回目录</a>
  </div>
</Layout>
