---
const time = new Date().toUTCString()
---

<footer style="text-align: center">
  <hr />
  <div>Data Source: <a href="https://bgm.wiki">bgm.wiki</a></div>
  <div>
    <span>Version:</span>
    <a
      target="_blank"
      href={`https://github.com/qiaoshouzi/bangumi-schedules-web/tree/${import.meta.env.PUBLIC_MAIN_GIT_HASH}`}
      >{import.meta.env.PUBLIC_MAIN_GIT_HASH.slice(0, 7)}</a
    >
    <span style="margin-left: 6px">DB Version:</span>
    <a
      target="_blank"
      href={`https://github.com/qiaoshouzi/bangumi-schedules-db/tree/${import.meta.env.PUBLIC_DB_GIT_HASH}`}
      >{import.meta.env.PUBLIC_DB_GIT_HASH.slice(0, 7)}</a
    >
  </div>
  <div>Build Time: {time}</div>
</footer>
