---
import { useTranslations, type Lang } from '@/i18n/utils'
import { getWeekdayName } from '@/utils'

const weekDayNames = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']

interface Props {
  baseUrl?: string
  lang?: Lang
}
const { baseUrl = '../', lang } = Astro.props

const t = useTranslations(lang)
---

<div style="margin: 0 4px">
  <a href={baseUrl}>{t('nav.weekday.all')}</a>
  {
    weekDayNames.map((v, i) => {
      return (
        <a href={`${baseUrl}${v}/`} style="margin-left: 4px">
          {getWeekdayName(i, lang)}
        </a>
      )
    })
  }
</div>
